.picContainer{
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:lightcyan;
    /* border:3px solid darkblue;
    border-radius:50%;
    height:8rem;
    width:8rem;
    padding:8px; */
}
.picImg{
    border:1px solid darkblue;
    border-radius:50%;
    height:8.2rem;
    width:auto;
    /* padding:5px; */
    z-index:9;
    /* overflow: hidden; */
}

.profile-image{
  z-index: 10;
  width: "auto";
  display: flex;
  align-items: flex-end;
  justify-content: center;
}