.footerLink{
    margin-left: 1rem;
    color:blue;
}

  .container{
    overflow:hidden;
    overflow-y:auto;
    position:relative;
}

.footerBar{
  width: 99%;
  position: sticky;
  bottom: 4px;
  left: 0px;
  background-color:lightsteelblue;
}
