.footerLink{
    margin-left: 1rem;
    color:blue;
}

  .container{
    overflow:hidden;
    overflow-y:auto;
    position:relative;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.footerBar{
  width: 99%;
  position: sticky;
  bottom: 4px;
  left: 0px;
  background-color:lightsteelblue;
}

.footerMenu{
  position: sticky;
  bottom: 4px;
  width: 99%;
  background-color: lightsteelblue;
  margin-top:0.5rem;
}